
body
    for obj in JSON.parse(results)
        if(!!obj.docs)
            div#outside
                br
                div#header
                    h1 Our Suggestion
                    br
                - var docnum = Math.floor(Math.random() * 10)
                div#main
                    h1 #{obj.docs[docnum].original_title}
                    - var path = "http://image.tmdb.org/t/p/w500/" + obj.docs[docnum].backdrop_path
                    img(src=path)
                    br
                    h4 Genre:
                    p #{obj.docs[docnum]["genres.name"]}
                    h4 Popularity Score:
                    p #{obj.docs[docnum].popularity}/10
                    h4 Overview:
                    p #{obj.docs[docnum].overview}
                    - var imdbPage = "http://imdb.com/title/" + obj.docs[docnum].imdb_id
                    h4 More Information:
                    a(href=imdbPage) Imdb Link
                div#button
                    button(onClick="backToSurvey()") Retake Survey

               

style.
    #outside {
        background-image: url('https://timewellness.files.wordpress.com/2012/03/126551164popcorncrop.jpg?w=600&h=412&crop=1');
        text-align: center;
    }

    #main {
        background-color: rgba(255, 255, 255, 0.87);
        margin-left: 500px;
        margin-right: 500px;
    }

    #header {
        background-color: rgba(255, 255, 255, 1.0);
        width: 350px;
        margin: auto;
    }

    #button {
        margin-top: 50px;
    }

script.
    function backToSurvey()  {
        window.location.href="/survey";
    }